<h1> Director #<%= @the_director.id %> details </h1>

<a href="/directors"> Go Back </a>

<hr> 

<dl>

  <dt> Name </dt>
  <dd> <%= @the_director.name %> </dd>

  <dt> DOB </dt>
  <dd> <%= @the_director.dob %> </dd>

  <dt> Bio </dt>
  <dd> <%= @the_director.bio %> </dd>

  <dt> Image </dt>
  <dd> <img src="<%=@the_director.image%>"> </img> </dd>

  <dt> Created at </dt>
  <dd> <%= @the_director.created_at %> </dd>
  <dt> Updated at </dt>
  <dd> <%= @the_director.updated_at %> </dd>

<dl>

<% matching_movies = Movie.where({ :director_id => @the_director.id}) %>
<h2> Filmography </h2>

<table border="1"> 
  <tr> 
    <th> ID </th>
    <th> Image </th>
    <th> Title </th>
    <th> Year </th>
    <th> Director </th>
    <th> </th>
  </tr>

  <% matching_movies.each do |item| %>
    <tr> 
      <td> <%= item.id%> </td>
      <td> <img src="<%= item.image%>"> </img> </td>
      <td> <%= item.title%>  </td>
      <td> <%= item.year%>  </td>
      <td> <%= @the_director.name%>  </td>
      <td> <a href="/movies/<%= item.id %>"> Show Details </a> </td>
    </tr>

  <%end%>

</table>
