<h1> List of all Movies </h1>




<table border="1">
  <tr> 
    <th>ID</th>
    <th>Image </th>
    <th>Title </th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>


  <% Movie.all.each do |a_director| %>

      <tr> 
        <td><%= a_director.id%></td>
        <td> 
          <img src="<%= a_director.image%>" width ="100">
        </td>
        <td><%= a_director.title%></td>
        <td><%= a_director.year%></td>
        <td>
          <% matching_director = Director.where({ :id => a_director.director_id}) %>
          <% the_name = matching_director.at(0)%>
          <%= the_name.name %>
        </td>
        <td> 
        <a href="/movies/<%= a_director.id %>"> Show Details </a>
        </td>
    </tr>
  <% end %>
</table>
